/hellovrs_simple/D3D12/HelloTriangle/bin/*
/hellovrs_simple/D3D12/HelloTriangle/obj/*
/hellovrs_simple/D3D12/.vs/*

/hellovrs_rates/HelloTriangle/bin/*
/hellovrs_arrowkeys_tier2/HelloTriangle/bin/*
/hellovrs_rates/HelloTriangle/obj/*
/hellovrs_arrowkeys_tier2/HelloTriangle/obj/*
/hellovrs_rates/.vs/*
/hellovrs_arrowkeys_tier2/.vs/*
/hellovrs_arrowkeys_tier2/D3D12HelloWorld/.vs/*
/hellovrs_arrowkeys_tier2/HelloTriangle/x64/*
/hellovrs_arrowkeys_tier2/x64/*
*.spv
